:root {
  --p1: #fff;
	--p2: #17181C;
	--accent1: #9BA5C9;
	--accent2: #FF9299;
	--lining: #24242424;
}

html { box-sizing: border-box; }
  
*, 
*::before, 
*::after { box-sizing: inherit; }

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header1 {

}

.input {
  border: 0;
  width: 100%;
  height: 100%;
  -webkit-user-modify: read-write;
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;

  -webkit-line-break: after-white-space;
  display: block;
  text-align: left;
}
*, *:focus {
  outline: 0;
  
}

.screen {
  padding: 5vh; 
  display: flex;
  height: 100vh;
}

.card {
  border: 1px solid var(--lining);
  border-radius: 5px;
  background-color: var(--p1);

}

.borderRight {
  border-right: 1px solid var(--lining);
}